In [3]:
import re
import pandas as pd
import numpy as np
import matplotlib.pyplot plt
with open('test.out', 'r') as f:
    data = f.read()
entries = re.split('\n', data)[:-1]
entries_dict = [eval(e) for e in entries]
data = pd.DataFrame(entries_dict)
data['lb'] = data['mean'] - 1.64 * data['std']/ np.sqrt(data['sample-size'])
print(data.columns)

Index(['expt', 'lr', 'step', 'seed-data', 'seed-model', 'mean', 'std',
       'sample-size', 'lb'],
      dtype='object')

In [4]:
summary = data.groupby(['lr', 'expt', 'step']).agg({'lb':['mean', 'std']})

In [5]:
summary

                            lb
                          mean       std
lr     expt     step
0.0005 baseline 10    1.014805  0.000636
                20    1.024363  0.001172
                40    1.034903  0.002108
                80    1.043434  0.003880
                160   1.052502  0.007537
...                        ...       ...
0.0050 sensr    20    1.008108  0.000781
                40    1.008754  0.001053
                80    1.010035  0.001728
                160   1.012560  0.003214
                320   1.017540  0.006334

[72 rows x 2 columns]